@media print {
  .print {
    display: block;
    width: 100%;
    height: 100%;
  }

  .container {
    max-width: 100%;
    max-height: 100%;
    background-color: transparent;
  }

  header {
    background-color: transparent;
    color: #222;
    padding: 2em 0 0 0;
    margin-bottom: .5em;
  }

  header h1 {
    font-size: 32pt;
    text-align: center;
    padding-bottom: 0.3em;
  }

  header .photo {
    max-height: 95px;
    filter: grayscale(100%);
  }

  header p {
    font-size: 14pt;
    text-align: center;
  }

  address {
    margin-bottom: 0;
    padding: 2em;
  }

  address ul {
    font-size: 12pt;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }

  article {
    padding: 0;
    margin-bottom: 1.2em;
  }

  article h2 {
    color: #000;
    margin-top: 0;
    font-size: 14pt;
  }

  article p {
    margin-left: 1.2em;
    font-size: 10pt;
    line-height: 1.3;
    text-align: justify;
  }

  label {
    font-size: 8pt;
    color: #555b66;
    padding: 2px 8px;
  }

  a {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
  }

  .date,
  .hours {
    font-weight: 300;
  }

  .entry-container .date.college,
  .entry-container .institution.college {
    display: block;
    margin-bottom: unset !important;
  }

  .entry-container .entry-description {
    background-color: #fcfcfc;
    color: #697385;
  }

  .entry-container .entry-description {
    font-size: 8pt !important;
    line-height: 1.5;
  }

  .skills-container div {
    gap: 10px;
  }

  .skills-container div label {
    padding: 5px 10px;
    background-color: rgb(228, 228, 228);
    color: #272727;
    font-size: 8pt;
  }

  .grid-3>.entry-container {
    margin-bottom: 0;
  }

  .entry-container .entry-title h3 {
    font-size: 11pt;
    margin-right: .3em;
  }

  .multiple-entries .entry-container p {
    font-size: 9pt;
  }

  .entry-container .date,
  .entry-container .institution {
    padding: 0;
  }

  .entry-container.one-line {
    margin-bottom: 0.25em;
    font-size: 10pt;
  }

  .entry-container.one-line .entry-title>h3 {
    font-size: 10pt;
  }

  .multiple-entries>p {
    font-size: 10pt;
  }

  .print-btn-container {
    display: none;
  }

  .side-box {
    display: none !important;
  }

  .qrcode-container {
    display: flex;
  }

  .portfolio-btn {
    display: none;
  }

  .portfolio-btn-alt {
    display: block;
  }
}