@media screen and (max-width: 1550px) {
  .side-box {
    transform: translateX(-240px);
  }

  .main {
    padding-left: 300px;
  }
}

@media screen and (max-width: 1480px) {
  .side-box {
    transform: translateX(-200px);
    box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.15);
  }
}

@media screen and (max-width: 1400px) {
  .side-box {
    display: none !important;
  }
}

@media screen and (max-width: 1250px) {
  .print-btn-container {
    transform: translateX(880px);
  }
}

@media screen and (max-width: 1100px) {

  address ul {
    gap: 20px;
    font-size: 1.1em;
  }

}

@media screen and (max-width: 940px) {

  header {
    padding: 3em 2em;
  }

  header h1 {
    font-size: 2.5em;
  }

  header .photo {
    max-height: 100px;
  }

  header p {
    font-size: 1.2em;
  }

  article p {
    font-size: 0.9em;
  }

  main {
    padding: 0 15px;
  }

  .skills-container div label {
    padding: 5px 10px;
  }

  .print-btn-container {
    display: none;
  }

}

@media screen and (max-width: 560px) {

  header {
    flex-direction: column;
  }

  address ul {
    font-size: 1em;
  }

  article {
    padding: 0;
  }

  .entry-container .date,
  .entry-container .institution {
    display: block;
    margin-bottom: unset !important;
  }

  .entry-container .institution::before {
    content: "";
  }

  .entry-container .entry-description {
    font-size: .7em;
  }

  .grid-3 {
    grid-template-columns: 100%;
  }

}