@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Ubuntu:wght@300;400;700&display=swap');

h1, body, p, address, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-style: normal;
  list-style: none;
}

a {
  color: rgb(131, 132, 194);
}

.container {
  margin: 0 auto;
  display: block;
  background-color: #EDF2F4;
  max-width: 1200px;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 1em;
  position: relative;
}

header {
  /* position: sticky;
  top: -6.8em; */
  font-family: "Ubuntu";
  background-color: #2B2D42;
  color: #fcfcfc;
  padding: 7em 0;
  margin-bottom: .5em;
}

header h1 {
  font-size: 4em;
  text-align: center;
  padding-bottom: 0.3em;
}

header p {
  font-size: 1.5em;
  text-align: center;
}

main {
  padding: 0px 30px;
}

address {
  margin-bottom: 2.5em;
  padding: 1em;
}

address ul {
  font-family: "Open Sans";
  font-size: 1.2em;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-content: center;
  color: #3b3b3b;
  flex-wrap: wrap;
}

address a {
  text-decoration: none;
  color: #3b3b3b;
}

article {
  padding: 0px 2em;
  margin-bottom: 2.5em;
}

article h2 {
  font-family: "Ubuntu";
  margin-bottom: 0.5em;
  color: #D90429;
}

article p {
  font-family: "Open Sans";
  margin-left: 1.5em;
  font-size: 1em;
  line-height: 1.5;
}

.multiple-entries .entry-container {
  margin-left: 1.5em;
}

.multiple-entries .entry-container p {
  margin: 0;
}

.entry-container {
  margin-bottom: 1em;
}

.entry-container .entry-title h3 {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-size: 1em;
  margin-bottom: 0.3em;
  display: inline-block;
  font-weight: normal;
}

label {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-size: 0.7em;
  background-color: #e6ecee;
  color: #798394;
  padding: 5px;
  border-radius: 10px;
  text-transform: lowercase;
}

.entry-container .date,
.entry-container .institution {
  font-size: 0.8em;
  display: inline-block;
  color: #636363;
  padding: 3px;
  margin-bottom: 0.3em !important;
}

.entry-container .institution::before {
  content: " | "
}

.entry-container .entry-description {
  background-color: #e6ecee;
  color: #697385;
  display: block;
  font-size: 0.8em;
  padding: 3px 10px;
  max-width: fit-content;
}

.skills-container div {
  display: flex;
  gap: 15px;
  align-content: center;
  flex-wrap: wrap;
}

.skills-container div label {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #EF233C;
  color: #fff;
}

.multiple-entries>p {
  margin-bottom: 1em;
  font-size: .875em;
}

.grid-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.print-btn-container {
  transform: translateX(1220px);
  position: fixed;
  bottom: 10px;
}

.print-btn-container button {
  padding: 8px 15px;
  font-size: 0.8em;
  background-color: #8d99ae;
  color: #edf2f4;
  font-family: "Open Sans";
  border: none;
  border-radius: 4px;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
}

.print-btn-container button:hover{
  background-color: #2B2D42;
}

.side-box {
  transform: translateX(-270px);
  opacity: 0;
  position: fixed;
  min-height: 200px;
  width: 230px;
  transition-property: opacity;
  transition-duration: .2s;
}

.sb-name {
  font-family: "Ubuntu";
  background-color: #2B2D42;
  padding: 1em;
}

.sb-name h1 {
  color: #edf2f4;
  padding-bottom: .5em;
}

.sb-name p {
  line-height: 1.5;
  color: #8d99ae;
}

.sb-address {
  padding: 1em;
  background-color: #EDF2F4;
}

.sb-address address {
  padding: 0;
  margin: 0;
}

.sb-address address ul {
  font-family: "Open Sans";
  font-size: 1em;
  color: #585858;
  display: block;
}

.sb-address address li {
  text-align: left;
  margin-bottom: 1em;
}

.sb-address address li:last-child {
  margin-bottom: 0;
}

.sb-address a {
  text-decoration: none;
  color: #585858;
}

.side-box[data-show="true"] {
  opacity: 1;
}