body {
  margin: 0;
  padding: 0;
}

header {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}

.side-box {
  z-index: 1;
  opacity: 1;
  position: fixed;
  min-height: 200px;
  width: 230px;
  transition-property: opacity;
  transition-duration: .2s;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  transform: translateX(-350px);
}

.sb-name {
  font-family: "Ubuntu", sans-serif;;
  background-color: #2B2D42;
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sb-name h1 {
  color: #edf2f4;
  padding-bottom: .5em;
}

.sb-name p {
  line-height: 1.5;
  color: #8d99ae;
}

.sb-address {
  padding: 1em;
  background-color: #EDF2F4;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sb-address address {
  padding: 0;
  margin: 0;
}

.sb-address address ul {
  font-family: "Open Sans", sans-serif;;
  font-size: 1em;
  color: #585858;
  display: block;
}

.sb-address address li {
  text-align: left;
  margin-bottom: 1em;
}

.sb-address address li:last-child {
  margin-bottom: 0;
}

.sb-address a {
  text-decoration: none;
  color: #585858;
}

.side-box[data-show="true"] {
  opacity: 1;
}

.alt-header {
  font-family: "Ubuntu", sans-serif;;
  background-color: #2B2D42;
  color: #fcfcfc;
  padding: 3em 0;
  margin-bottom: .5em;
  display: none;
}

.alt-header h1 {
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 0.3em;
}

.alt-header p {
  font-size: 1.5em;
  text-align: center;
}

.alt-address {
  margin-bottom: .5em;
  padding: 1em;
  display: none;
  max-width: 900px;
  margin: 0 auto;
}

.alt-address ul {
  font-family: "Open Sans", sans-serif;;
  font-size: 1.1em;
  display: flex;
  gap: 15px 30px;
  justify-content: center;
  align-content: center;
  color: #3b3b3b;
  flex-wrap: wrap;
}

.alt-address a {
  text-decoration: none;
  color: #3b3b3b;
}

.container {
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container:nth-child(odd) {
  background-color: #edf2f4;
}


.container:nth-child(even) {
  background-color: #e4ecf0;
}

.portfolio-content {
  max-width: 1000px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.portfolio-img {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0,0,0,.25);
  object-fit: cover;
  object-position: top;
}

.portfolio-info h1 {
  font-family: "Ubuntu", sans-serif;;
  font-weight: normal;
  font-size: 4em;
  padding-bottom: 0.3em;
  color: #D90429;
}

.portfolio-info p {
  font-family: "Open Sans", sans-serif;;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1.5em;
  color: #5B5B5B;
}

.portfolio-labels {
  font-family: "Open Sans", sans-serif;
  display: flex;
  gap: 15px;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
}

.portfolio-labels label {
  padding: 7px 15px;
  font-size: 0.8em;
  background-color: #EF233C;
  color: #fff;
  border-radius: 5px;
}

.portfolio-btns {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.9em;
  display: flex;
  gap: 15px;
}

.portfolio-btns a {
  text-decoration: none;
}